@model List< UdemyMvcPortfolio.Models.Entity.About>
@{
    ViewBag.Title = "Hakkımda Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

    @for (int i = 0; i < Model.Count; i++)
    {
        <label> Ad </label>
        @Html.TextBoxFor(model => Model[i].Name, new { @class = "form-control" })
        <label> Soyad </label>
        @Html.TextBoxFor(model => Model[i].Surname, new { @class = "form-control" })
        <label> Adres </label>
        @Html.TextAreaFor(model => Model[i].Adress, new { @class = "form-control" })
        <label> Telefon </label>
        @Html.TextBoxFor(model => Model[i].Phone, new { @class = "form-control" })
        <label> Mail </label>
        @Html.TextBoxFor(model => Model[i].Mail, new { @class = "form-control" })
        <label> Açıklama </label>
        @Html.TextAreaFor(model => Model[i].Description, new { @class = "form-control" })
        <label> Resim </label>
        @Html.TextBoxFor(model => Model[i].Image, new { @class = "form-control" })
    }
    <br />
    <button class="btn btn-success"> Güncelle</button>
</form>

